.Mobile-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.Mobile-modal-hidden {
    animation: delayZIndex 0.8s forwards;
}

.Mobile-top-layer {
    position: relative;
    z-index: 1;
}

@keyframes delayZIndex {
    0% {
        z-index: 2;
    }
    99% {
        z-index: 2;
    }
    100% {
        z-index: 1;
    }
}

.App-light .Mobile {
    background-color: #ffffff;
    height: 100%;
}

.App-dark .Mobile {
    background-color: #322f37;
    height: 100%;
}
