.VideoOverlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    height: 100%;
}

.VideoOverlay-bottom-components {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VideoOverlay-center-components {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.VideoOverlay-middle-components {
    width: 100%;
    height: 100%;
}

.VideoOverlay-left-components,
.VideoOverlay-right-components {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
}

.VideoOverlay-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.VideoOverlay-modal-hidden {
    animation: delayNegativeZIndex 0.8s forwards;
}

.VideoOverlay-top-layer {
    z-index: 1;
}

.VideoOverlay-safe-top {
    margin-top: 2.5rem;
}

.VideoOverlay-safe-right {
    width: calc(100% - 4.65rem);
}

.VideoOverlay-safe-bottom {
    padding: 0 0 2.5rem;
}

@keyframes delayNegativeZIndex {
    0% {
        z-index: 0;
    }
    99% {
        z-index: 0;
    }
    100% {
        z-index: -1;
    }
}
