.Modal {
    display: flex;
    transition: transform 0.8s ease-out;
}

.Modal-button {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 14px;
    margin: 6px 20px;
    transition: background-color 0.3s;
    min-width: 100px;
    border-radius: 3px;
}

.Modal-components {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 26px;
    height: 26px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Modal-close-button:before,
.Modal-close-button:after {
    position: absolute;
    left: 24px;
    content: ' ';
    height: 26px;
    width: 2px;
}

.Modal-close-button:before {
    transform: rotate(45deg);
}

.Modal-close-button:after {
    transform: rotate(-45deg);
}

.Modal-button:hover:enabled,
.Modal-button:focus:enabled {
    outline: none;
}

/**
 * Theme
 */

.App-light .Modal {
    background-color: #ffffff;
}

.App-dark .Modal {
    background-color: #000000;
}

.App-light .Modal-button {
    border: 1px solid #dfdee2;
}

.App-dark .Modal-button {
    border: 1px solid #2b2a32;
}

.App-light .Modal-close-button:before,
.App-light .Modal-close-button:after {
    background-color: #333;
}

.App-dark .Modal-close-button:before,
.App-dark .Modal-close-button:after {
    background-color: #e5e3e8;
}

.App-light .Modal-close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.App-dark .Modal-close-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.App-dark .VideoOverlay .Modal-close-button:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.App-light .Modal-transparent,
.App-dark .Modal-transparent {
    background: none;
}

/**
 * Views
 */

.VideoOverlay .Modal {
    width: 75%;
    max-height: 150px;
    flex-direction: column;
    transform: translateY(calc(100% + 20px));
    border-radius: 3px;
    padding-bottom: 2.5rem;
}

.VideoOverlay .Modal-button {
    font-size: 14px;
    border: none;
    justify-content: center;
    align-items: center;
    margin: 14px;
    min-height: 50px;
}

.VideoOverlay .Modal-components {
    justify-content: center;
}

.Mobile .Modal-components,
.Panel .Modal-components {
    flex-direction: column;
    align-items: normal;
}

.Mobile .Modal-button,
.Panel .Modal-button {
    min-height: 45px;
    margin: 20px;
}

.Mobile .Modal,
.Panel .Modal {
    width: 100%;
    height: 100%;
    flex-direction: column;
    transform: translateY(100%);
    overflow-y: auto;
}

.VideoOverlay .Modal.Modal-open,
.Mobile .Modal.Modal-open,
.Panel .Modal.Modal-open {
    z-index: 8;
    transform: translateY(0);
}

.Mobile .Modal-close-button,
.Panel .Modal-close-button {
    border-radius: 50%;
    transform: translate(-2px, 6px);
}
