.Modal {
    display: flex;
    transition: transform 0.8s ease-out;
}

.Modal-button {
    display: flex;
    justify-content: center;
    padding: 14px;
    margin: 6px 20px;
    transition: background-color 0.3s;
    min-width: 100px;
    border-radius: 3px;
}

.Modal-components {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

.Modal-button:hover:enabled,
.Modal-button:focus:enabled {
    outline: none;
}

/**
 * Theme
 */

.App-light .Modal {
    background-color: #ffffff;
}

.App-dark .Modal {
    background-color: #000000;
}

.App-light .Modal-button {
    border: 1px solid #dfdee2;
}

.App-dark .Modal-button {
    border: 1px solid #2b2a32;
}

/**
 * Views
 */

.VideoOverlay .Modal {
    width: 75%;
    max-height: 150px;
    flex-direction: column;
    transform: translateY(calc(100% + 20px));
    border-radius: 3px;
    padding-bottom: 2.5rem;
}

.VideoOverlay .Modal-close-button {
    transform: translate(20px, -20px);
}

.VideoOverlay .Modal-button {
    font-size: 14px;
    border: none;
    justify-content: center;
    align-items: center;
    margin: 14px;
    min-height: 50px;
}

.VideoOverlay .Modal-components {
    justify-content: center;
}

.Mobile .Modal-components,
.Panel .Modal-components {
    flex-direction: column;
    align-items: normal;
}

.Mobile .Modal-button,
.Panel .Modal-button {
    min-height: 45px;
    margin: 20px;
}

.Mobile .Modal,
.Panel .Modal {
    width: 100%;
    height: 100%;
    flex-direction: column;
    transform: translateY(100%);
    overflow-y: auto;
}

.VideoOverlay .Modal.Modal-open,
.Mobile .Modal.Modal-open,
.Panel .Modal.Modal-open {
    z-index: initial;
    transform: translateY(0);
}
