.MouseEvent {
    flex: 1;
}

.MouseEvent-cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transition: all 200ms ease;
    transition-property: opacity;
}

.MouseEvent-cursor::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 0.5s infinite alternate;
}

.MouseEvent-cursor-hidden {
    opacity: 0;
}

.MouseEvent-cursor-expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid red;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
