.Panel {
    margin: 20px 0;
}

.Panel-block {
    border-radius: 4px;
    transition: background-color 0.5s ease;
    width: 120px;
    height: 32px;
    margin-left: 20px;
    background-color: #6441a4;
}
