.html-fluid {
    width: 100%;
    height: calc(100% - 40px);
}

.Panel {
    padding: 20px 0;
}

.Panel-block {
    border-radius: 4px;
    transition: background-color 0.5s ease;
    width: 120px;
    height: 32px;
    margin-left: 20px;
    background-color: #6441a4;
}

.Panel-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.Panel-modal-hidden {
    animation: delayZIndex 0.8s forwards;
}

.Panel-top-layer {
    position: relative;
    z-index: 1;
}

@keyframes delayZIndex {
    0% {
        z-index: 2;
    }
    99% {
        z-index: 2;
    }
    100% {
        z-index: 1;
    }
}

.App-light .Panel {
    background-color: #ffffff;
    height: 100%;
}

.App-dark .Panel {
    background-color: #322f37;
    height: 100%;
}
