/**
 * General
 */

.Button-loader {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 0.8s linear infinite; /* Safari */
    animation: spin 0.8s linear infinite;
}

.Button {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin: 6px 14px;
}

.Button-container {
    display: flex;
    align-items: center;
}

.Button-container-row {
    flex-direction: row;
}

.Button-container-column {
    flex-direction: column;
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**
 * Theme
 */

.App-light .Button-loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #666666;
}

.App-dark .Button-loader {
    border: 3px solid #666666;
    border-top: 3px solid #f3f3f3;
}

/**
 * Views
 */

.VideoOverlay .Button {
    flex-direction: column;
    align-items: center;
}

.VideoOverlay .Button > * {
    margin-top: 5px;
}

.Panel .Button {
    width: 100%;
}

.Mobile .Button {
    align-items: center;
    margin: 0;
    padding: 20px 20px;
    width: 100%;
    background: #212026;
    color: #e5e3e8;
    border: none;
    height: 65px;
    border-bottom: 2px solid #2b2a32;
}

.Mobile .Button:hover,
.Mobile .Button:focus {
    background: #2b2a32;
    outline: none;
}

.Mobile .Button:disabled,
.Mobile .Button[disabled] {
    color: #989898;
    background: #322f37;
}

.Mobile .Button-loader {
    border: 3px solid #666666;
    border-top: 3px solid #f3f3f3;
}
