/**
 * General
 */

.Button {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin: 6px 14px;
    transition: background-color 0.3s;
}

.Button-container {
    display: flex;
    align-items: center;
}

.Button-container-row {
    flex-direction: row;
}

.Button-container-column {
    flex-direction: column;
}

.Button-overlay-loader {
    display: inline-block;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 0.8s linear infinite; /* Safari */
    animation: spin 0.8s linear infinite;
    border: 3px solid #666666;
    border-top: 3px solid #f3f3f3;
}

.Button-overlay-countdown {
    font-size: 14px;
}

.Button:hover:enabled,
.Button:focus:enabled {
    background: #2b2a32;
    outline: none;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/**
 * Theme
 */

.App-light .Button,
.App-light .Modal-button {
    color: #000000;
    background: #efefef;
}

.App-dark .Button,
.App-dark .Modal-button {
    background: #212026;
    color: #e5e3e8;
}

.App-light .Button-overlay-loader {
    border: 3px solid #e5e3e8;
    border-top: 3px solid #666666;
}

.App-dark .Button-overlay-loader {
    border: 3px solid #666666;
    border-top: 3px solid #f3f3f3;
}

.App-light .Button:hover:enabled,
.App-light .Button:focus:enabled,
.App-light .Modal-button:hover:enabled,
.App-light .Modal-button:focus:enabled {
    background: #ffffff;
    outline: none;
}

.App-light .Mobile .Button:disabled,
.App-light .Mobile .Button[disabled],
.App-light .Panel .Button:disabled,
.App-light .Panel .Button[disabled],
.App-light .Modal-button:disabled,
.App-light .Modal-button[disabled] {
    color: #322f37;
    background: #cccccc;
}

.App-dark .Button:hover:enabled,
.App-dark .Button:focus:enabled,
.App-dark .Modal-button:hover:enabled,
.App-dark .Modal-button:focus:enabled {
    background: #2b2a32;
    outline: none;
}

.App-dark .Mobile .Button:disabled,
.App-dark .Mobile .Button[disabled],
.App-dark .Panel .Button:disabled,
.App-dark .Panel .Button[disabled],
.App-dark .Modal-button:disabled,
.App-dark .Modal-button[disabled] {
    color: #989898;
    background: #322f37;
}

.App-light .VideoOverlay .Button .Button-overlay,
.App-light .Modal .Modal-button .Button-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.App-dark .VideoOverlay .Button .Button-overlay,
.App-dark .Modal .Modal-button .Button-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.App-light .Mobile .Button {
    border-bottom: 1px solid #ffffff;
}

.App-dark .Mobile .Button {
    background: #212026;
    color: #e5e3e8;
    border-bottom: 2px solid #2b2a32;
}

.App-light .Panel .Button {
    border: 1px solid #dfdee2;
}

.App-dark .Panel .Button {
    border: 1px solid #2b2a32;
}

/**
 * Views
 */

.VideoOverlay .Button {
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    border: none;
}

.VideoOverlay .Button > * {
    margin-top: 5px;
}

.VideoOverlay .Button .Button-overlay,
.Modal .Modal-button .Button-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #e5e3e8;
}

.Panel .Button {
    width: 100%;
    align-items: center;
    height: 45px;
}

.Mobile .Button {
    align-items: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    border: none;
    height: 65px;
}
