.Button {
    padding: 6px;
    margin: 6px 14px;
}

.Button-container {
    display: flex;
    align-items: center;
}

.Button-loader {
    display: inline-block;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #666666;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 0.8s linear infinite; /* Safari */
    animation: spin 0.8s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
