/**
 * General
 */

.Header {
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-weight: normal;
}

/** 
 * Views
 */

.VideoOverlay .Header {
    padding: 14px;
}

/**
 * Theme
 */

.App-light .Header {
    background: #ffffff;
    color: #000000;
    border-bottom: 1px solid #dfdee2;
}

.App-dark .Header {
    background: #322f37;
    border-bottom: 2px solid #2b2a32;
}

.App-light .Header-transparent,
.App-dark .Header-transparent {
    background: none;
    border-bottom: none;
}
