/**
 * General
 */

.Select {
    padding: 6px;
    margin: 16px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.Select div[role='group'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.Select-label-group {
    margin-bottom: 10px;
}

.Select-value {
    margin: 0 10px 0;
}

.Select-value-button {
    display: none;
}

.Select-value-button + label {
    display: block;
    padding: 10px 16px;
    line-height: 1;
    transition: background-color 0.3s;
    min-width: 100px;
    border-radius: 3px;
}

/**
 * Views
 */

.VideoOverlay .Select {
    width: 100%;
}

.Panel .Select,
.Mobile .Select {
    margin: 20px 20px 0;
    padding: 0;
}

/**
 * Theme
 */

.App-light .Select {
    color: #232127;
}

.App-dark .Select {
    color: #e5e3e8;
}

.App-light .VideoOverlay .Select {
    background-color: #efefef;
}

.App-dark .VideoOverlay .Select {
    background-color: #212026;
}

.App-light .Select-value-button + label {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    border: 1px solid transparent;
}

.App-light .Select-value-button:hover + label {
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
    background-color: #e9e9e9;
    border-color: #e3e3e3;
}
.App-light .Select-value-button:checked + label {
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.06);
    background-color: #e3e3e3;
    border-color: #bababa;
}

.App-dark .Select-value-button + label {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    background-color: #212026;
    border: 1px solid #111111;
}

.App-dark .Select-value-button:hover + label {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: #2b2a32;
    border-color: #111111;
}

.App-dark .Select-value-button:checked + label {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.35);
    background-color: #3d3c44;
    border-color: #212026;
}

.App-light .VideoOverlay .Select.Select-transparent,
.App-dark .VideoOverlay .Select.Select-transparent,
.App-light .VideoOverlay .Select-value-button + label.Select-transparent,
.App-dark .VideoOverlay .Select-value-button + label.Select-transparent {
    background: none;
}
