/**
 * General
 */

.Text {
    font-size: 14px;
    padding: 6px;
    margin: 16px;
    text-align: justify;
    font-weight: normal;
    transition: background-color 0.3s;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/**
 * Views
 */

.Panel .Text {
    margin: 20px 20px 0;
    padding: 0;
}

.Mobile :not(.Modal) .Text {
    margin: 0;
}

.Mobile .Modal .Text {
    margin: 20px 20px 0;
    padding: 0;
}

.Panel .Text:first-child {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.Panel .Modal .Text:first-child {
    display: block;
    margin: 20px 20px 0;
}

.Panel .Modal .Text {
    margin: 20px 20px 0;
}

/**
 * Theme
 */

.App-light .Text {
    color: #232127;
}

.App-dark .Text {
    color: #e5e3e8;
}

.App-light .VideoOverlay .Text {
    background-color: #efefef;
}

.App-dark .VideoOverlay .Text {
    background-color: #212026;
}

.App-light .VideoOverlay .Text.Text-transparent,
.App-dark .VideoOverlay .Text.Text-transparent {
    background: none;
}
