/**
 * General
 */

.Title {
    margin: 6px 14px 6px;
    padding: 6px;
    font-weight: normal;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/**
 * Views
 */

.Mobile .Title,
.Panel .Title {
    display: flex;
    align-items: center;
    background: #322f37;
    padding: 0;
    margin: 20px 20px 0;
}

/**
 * Theme
 */

.App-light .Title {
    background-color: rgba(255, 255, 255, 0.7);
    color: #232127;
}

.App-dark .Title {
    background-color: rgba(0, 0, 0, 0.7);
    color: #e5e3e8;
}
